$link-color: #007fff;
$link-color-href: red;
$text-color: black;
$background-color: white;

* {
  font-family: -apple-system, Arial, sans-serif;
}

body {
  background-color: $background-color;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 38pt;
  justify-content: left;

  padding-left: 20pt;
}

.apps-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  font-size: 20pt;
  font-weight: 600;
  //color: red;
  /*background: bisque;*/

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.tasks-kinds-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding-left: 20pt;

  /*background: beige;*/
}

.tasks-kinds-wrapper > div {
  font-size: 16pt;
  font-weight: 400;
  padding: 0 8pt;
  color: $link-color;
  cursor: pointer;

  transition: all 0.1s ease-out;
}

.tasks-kinds-wrapper > div:hover {
  color: $link-color-href;
  transition: all 0.1s ease-out;
}